body
{
    font-family: sans-serif;
    font-size: 10pt;
}

table
{
    font-size: 10pt;
}

.tab-bar
{
    overflow: hidden;
    background-color: #f1f1f1;
}

.tab-button
{
    background-color: inherit;
    border: 1px solid #ccc;
    border-bottom: none;
    outline: none;
    cursor: pointer;
    padding: 6px 12px;
    transition: 0.3s;
    font-size: 10pt;
}

.tab-button:hover
{
    background-color: #ddd;
}

.tab-button.active
{
    background-color: #ccc;
}

.tab
{
    padding: 6px 12px;
    border: 1px solid #ccc;
}
